.page-about-me {
  .about-me-header {
    text-align: center;
    background: #BECACC;
    color: #FFFFFF;
  }

  .about-me-body {
    img {
      width: 100%;
    }
    ul.about-me-links {
      padding: 0;
      margin-top: 10px;
      padding-top: 5px;
      justify-content: center;
      display: flex;
      height: 35px;
      list-style: none;
      margin-bottom: 0px;
      li {
        margin-right: 20px;
        &:last-child {
          margin-right: 0px;
        }
        img {
          height: 25px
        }
      }
    }
  }
}