.log-in-data {
  background: white;
  padding: 11px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 15px;
  margin-right: 15px;
  border-radius: 4px;

  .logged-in-as-text {
    margin-top: 6px;
  }
}

.brand {
  clear: both;
}

.footer-content {
  width: 270px;
  margin: 0 auto;

  p {
    margin: 0;
    padding: 15px 0;
    float: left;
    margin-right: 15px;
  }
  img.digital-ocean-logo {
    width: 125px;
    float: left;
    margin-top: 10px;
  }
}